@import url('./theme-variables.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Primary Button */
  .btn-primary:not(.btn-disabled) {
    @apply bg-primary-600 hover:bg-primary-500 active:bg-primary-700 focus:ring-primary-700 text-white;
    @apply dark:bg-primary-500 dark:hover:bg-primary-500/90 dark:active:bg-primary-300 dark:focus:ring-primary-500 dark:text-white;
  }

  .btn-primary.btn-disabled {
    @apply bg-primary-200 cursor-not-allowed text-white;
    @apply dark:bg-primary-200/90;
  }

  .btn-primary.btn-status-danger:not(.btn-disabled) {
    @apply bg-red-600 text-white hover:bg-red-500 focus:ring-red-700 active:bg-red-700;
  }

  .btn-primary.btn-status-danger.btn-disabled {
    @apply cursor-not-allowed bg-red-200 text-white;
  }

  /* Secondary Button */
  .btn-secondary:not(.btn-disabled) {
    @apply hover:text-primary-600 hover:border-primary-600 active:text-primary-800 active:border-primary-800 border border-gray-300 text-gray-900;
    @apply dark:hover:bg-primary-600 dark:hover:border-primary-600 dark:border-gray-200 dark:text-[#e5e5e5] dark:hover:text-white;
  }

  .btn-secondary.btn-disabled {
    @apply cursor-not-allowed border border-gray-200 text-gray-400;
    @apply dark:border-[#898989] dark:text-[#898989];
  }

  .btn-secondary.btn-status-danger:not(.btn-disabled) {
    @apply border border-red-600 text-red-600 hover:border-red-500 hover:text-red-500 focus:ring-red-700 active:border-red-700 active:text-red-700 dark:hover:bg-red-50;
  }

  .btn-secondary.btn-status-danger.btn-disabled {
    @apply cursor-not-allowed border border-red-200 text-red-200;
  }

  /* Dashed Button */
  .btn-dashed:not(.btn-disabled) {
    @apply hover:text-primary-600 hover:border-primary-600 active:text-primary-700 active:border-primary-700 border border-dashed border-gray-300 text-gray-900;
    @apply dark:hover:text-primary-500 dark:hover:border-primary-500 dark:border-[#5d6165] dark:text-[#e5e5e5];
  }

  .btn-dashed.btn-disabled {
    @apply cursor-not-allowed border border-dashed border-gray-200 text-gray-400;
    @apply dark:border-[#898989] dark:text-[#898989];
  }

  .btn-dashed.btn-status-danger:not(.btn-disabled) {
    @apply border border-dashed border-red-600 text-red-600 hover:border-red-500 hover:text-red-500 focus:ring-red-700 active:border-red-700 active:text-red-700;
  }

  .btn-dashed.btn-status-danger.btn-disabled {
    @apply cursor-not-allowed border border-dashed border-red-200 text-red-200;
  }

  /* Text Button */
  .btn-text:not(.btn-disabled) {
    @apply text-gray-900 hover:bg-gray-100;
  }

  .btn-text.btn-disabled {
    @apply cursor-not-allowed text-gray-400;
    @apply dark:text-[#7b7b7b];
  }

  .btn-text.btn-status-danger:not(.btn-disabled) {
    @apply text-red-600 hover:bg-red-100;
  }

  .btn-text.btn-status-danger.btn-disabled {
    @apply cursor-not-allowed text-red-200;
  }

  /* Link Button */
  .btn-link:not(.btn-disabled) {
    @apply text-primary-600 hover:text-primary-500 active:text-primary-700 focus:ring-primary-700;
    @apply dark:text-primary-700 dark:hover:text-primary-800 dark:active:text-primary-900 dark:focus:ring-primary-800;
  }

  .btn-link.btn-disabled {
    @apply text-primary-200 cursor-not-allowed;
    @apply dark:text-[#7b7b7b];
  }

  .btn-link.btn-status-danger:not(.btn-disabled) {
    @apply text-red-600 hover:text-red-500 focus:ring-red-700 active:text-red-700;
  }

  .btn-link.btn-status-danger.btn-disabled {
    @apply cursor-not-allowed text-red-200;
  }

  .debugger-view-lines {
    background: rgba(205, 221, 247, 0.28);
  }

  .debugger-highlighten-lines {
    @apply dark:bg-orange/20 bg-orange-100/50;
  }

  .debugger-highlighten-lines.error {
    @apply dark:bg-red/20 bg-red-100/50;
  }

  .debugger-highlighten-tokens {
    @apply bg-orange-200 dark:bg-orange-800/20;
    font-weight: 700;
  }

  .debugger-highlighten-tokens.error {
    @apply bg-red-200 dark:bg-red-800/20;
  }

  .debugger-breakpoint-lines {
    @apply bg-red-200/30;
  }

  .debugger-breakpoint {
    @apply cursor-pointer rounded-full;
    height: 12px !important;
    width: 12px !important;
    margin: 3px !important;
  }

  .debugger-breakpoint.enabled {
    @apply bg-red-600;
  }

  .debugger-breakpoint.disabled {
    @apply bg-gray;
  }

  .debugger-breakpoint.preview:not(.enabled) {
    @apply bg-red-400/50 hover:bg-red-400/80;
  }

  .debugger-breakpoint.loading {
    @apply bg-orange-600;
  }
}
