.dark {
  --white: 255, 255, 255;
  --text-background: 32, 32, 32;
  --text-foreground: 228, 228, 228;
  --text-foreground-secondary: 166, 166, 166;
  --text-foreground-tertiary: 143, 143, 143;
  --text-foreground-disabled: 117, 117, 117;
  --border-color: var(--gray-100);
  --input-border-color: var(--gray-200);
  --input-background: var(--gray-100);
  --navbar-foreground: var(--text-foreground-secondary);
  --navbar-hover-background: var(--sentio-gray-50);
  --navbar-selected-background: var(--primary-600);
  --navbar-hover-foreground: var(--text-foreground);
  --box-gradient-background: linear-gradient(
    131.26deg,
    rgba(189, 36, 181, 0.2) 0%,
    rgba(7, 86, 213, 0.1) 12%,
    rgba(18, 18, 18, 0) 30%,
    transparent 100%
  );

  /* blue-gray #*/
  --gray-50: 32, 35, 41;
  --gray-100: 66, 66, 72;
  --gray-200: 93, 97, 101;
  --gray-300: 113, 115, 121;
  --gray-400: 152, 156, 160;
  --gray-500: 181, 185, 189;
  --gray-600: 216, 218, 224;
  --gray-700: 228, 232, 237;
  --gray-800: 235, 239, 243;
  --gray-900: 247, 259, 251;

  /* red #*/
  --red-50: 39, 18, 17;
  --red-100: 63, 22, 20;
  --red-200: 84, 30, 26;
  --red-300: 117, 36, 29;
  --red-400: 160, 45, 34;
  --red-500: 204, 53, 39;
  --red-600: 227, 95, 78;
  --red-700: 243, 141, 123;
  --red-800: 248, 179, 164;
  --red-900: 245, 211, 201;

  /* orange #*/
  --orange-50: 42, 30, 15;
  --orange-100: 68, 45, 14;
  --orange-200: 89, 60, 14;
  --orange-300: 125, 81, 12;
  --orange-400: 172, 110, 10;
  --orange-500: 219, 138, 7;
  --orange-600: 231, 166, 43;
  --orange-700: 243, 193, 84;
  --orange-800: 248, 213, 125;
  --orange-900: 250, 229, 165;

  /* yellow #*/
  --yellow-50: 42, 36, 15;
  --yellow-100: 68, 57, 14;
  --yellow-200: 89, 77, 14;
  --yellow-300: 125, 106, 12;
  --yellow-400: 172, 145, 10;
  --yellow-500: 219, 184, 7;
  --yellow-600: 231, 206, 43;
  --yellow-700: 243, 227, 84;
  --yellow-800: 248, 240, 125;
  --yellow-900: 250, 247, 165;

  /* cyan #*/
  --cyan-50: 21, 31, 17;
  --cyan-100: 29, 49, 19;
  --cyan-200: 40, 66, 24;
  --cyan-300: 50, 90, 27;
  --cyan-400: 65, 123, 30;
  --cyan-500: 79, 155, 34;
  --cyan-600: 109, 174, 66;
  --cyan-700: 143, 195, 104;
  --cyan-800: 176, 211, 146;
  --cyan-900: 211, 229, 194;

  /* purple #*/
  --purple-50: 27, 15, 39;
  --purple-100: 40, 14, 63;
  --purple-200: 54, 15, 84;
  --purple-300: 72, 14, 117;
  --purple-400: 96, 12, 160;
  --purple-500: 120, 10, 204;
  --purple-600: 154, 44, 227;
  --purple-700: 185, 85, 243;
  --purple-800: 196, 120, 235;
  --purple-900: 228, 170, 252;
  /* primary #*/
  --primary-50: 15, 22, 36;
  --primary-100: 14, 29, 58;
  --primary-200: 15, 38, 77;
  --primary-300: 13, 49, 106;
  --primary-400: 11, 62, 145;
  --primary-500: 9, 76, 184;
  --primary-600: 41, 110, 206;
  --primary-700: 81, 147, 229;
  --primary-800: 126, 184, 245;
  --primary-900: 168, 210, 250;
  /* daybreak-blue #*/
  --daybreak-blue-50: 17, 30, 35;
  --daybreak-blue-100: 20, 46, 56;
  --daybreak-blue-200: 25, 63, 75;
  --daybreak-blue-300: 28, 85, 104;
  --daybreak-blue-400: 33, 115, 142;
  --daybreak-blue-500: 38, 145, 180;
  --daybreak-blue-600: 74, 174, 202;
  --daybreak-blue-700: 117, 204, 224;
  --daybreak-blue-800: 164, 228, 240;
  --daybreak-blue-900: 206, 240, 245;
  /* lake-blue #*/
  --lake-blue-50: 16, 35, 34;
  --lake-blue-100: 17, 56, 52;
  --lake-blue-200: 21, 75, 68;
  --lake-blue-300: 22, 103, 92;
  --lake-blue-400: 24, 141, 125;
  --lake-blue-500: 26, 179, 158;
  --lake-blue-600: 59, 199, 176;
  --lake-blue-700: 100, 221, 198;
  --lake-blue-800: 145, 238, 217;
  --lake-blue-900: 192, 250, 235;
  /* gray #*/
  --sentio-gray-50: 23, 23, 23;
  --sentio-gray-100: 32, 32, 32;
  --sentio-gray-200: 37, 37, 37;
  --sentio-gray-300: 46, 46, 46;
  --sentio-gray-400: 75, 75, 75;
  --sentio-gray-500: 103, 103, 103;
  --sentio-gray-600: 132, 132, 132;
  --sentio-gray-700: 170, 170, 170;
  --sentio-gray-800: 208, 208, 208;
  --sentio-gray-900: 236, 236, 236;
  /* deep-purple #*/
  --deep-purple-50: 17, 16, 41;
  --deep-purple-100: 21, 17, 67;
  --deep-purple-200: 29, 21, 88;
  --deep-purple-300: 34, 22, 122;
  --deep-purple-400: 41, 24, 169;
  --deep-purple-500: 48, 26, 215;
  --deep-purple-600: 89, 64, 231;
  --deep-purple-700: 130, 105, 243;
  --deep-purple-800: 168, 146, 248;
  --deep-purple-900: 205, 190, 252;
  /* magenta #*/
  --magenta-50: 36, 15, 30;
  --magenta-100: 58, 14, 43;
  --magenta-200: 77, 15, 54;
  --magenta-300: 106, 13, 72;
  --magenta-400: 145, 11, 95;
  --magenta-500: 184, 9, 119;
  --magenta-600: 206, 41, 140;
  --magenta-700: 229, 81, 164;
  --magenta-800: 245, 126, 190;
  --magenta-900: 250, 168, 209;

  /* sidebar */
  --sidebar-background: 37, 37, 37;
}

body.dark {
  background: rgba(var(--sentio-gray-50));
  color: #a6a6a6;
}

body.dark :focus-visible {
  outline: 0;
}

.dark .simplebar-scrollbar:before {
  background-color: #a6a6a6;
}

/* fix tailwind form select css variable issue */
.dark select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='rgba(181, 185, 189)' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
}

input[type='checkbox'],
[type='radio'] {
  @apply dark:bg-sentio-gray-100;
}

body {
  --white: 255, 255, 255;
  --text-background: 255, 255, 255;
  --text-foreground: var(--gray-900);
  --text-foreground-secondary: var(--gray-600);
  --text-foreground-tertiary: var(--gray-500);
  --text-foreground-disabled: var(--gray-400);
  --border-color: 235, 239, 243;
  --input-border-color: var(--gray-200);
  --input-background: var(--white);
  --navbar-foreground: var(--gray-600);
  --navbar-hover-background: 220, 230, 255;
  --navbar-selected-background: 220, 230, 255;
  --navbar-hover-foreground: var(--primary-700);
  --box-gradient-background: linear-gradient(
    122.39deg,
    rgba(249, 238, 255, 1) 0%,
    rgba(244, 247, 255, 1) 5.6%,
    rgba(255, 255, 255, 1) 22%,
    transparent 100%
  );

  /* blue-gray */
  --gray-50: 247, 249, 251;
  --gray-100: 235, 239, 243;
  --gray-200: 228, 232, 237;
  --gray-300: 216, 218, 224;
  --gray-400: 181, 185, 189;
  --gray-500: 152, 156, 160;
  --gray-600: 113, 115, 121;
  --gray-700: 93, 97, 101;
  --gray-800: 64, 66, 72;
  --gray-900: 32, 35, 41;

  /* red */
  --red-50: 254, 247, 247;
  --red-100: 251, 216, 213;
  --red-200: 249, 184, 179;
  --red-300: 246, 153, 145;
  --red-400: 243, 122, 111;
  --red-500: 240, 90, 77;
  --red-600: 237, 59, 43;
  --red-700: 212, 43, 28;
  --red-800: 186, 29, 15;
  --red-900: 161, 18, 5;

  /* orange */
  --orange-50: 255, 251, 245;
  --orange-100: 255, 236, 205;
  --orange-200: 255, 221, 165;
  --orange-300: 255, 205, 125;
  --orange-400: 255, 190, 85;
  --orange-500: 255, 175, 45;
  --orange-600: 255, 159, 5;
  --orange-700: 230, 120, 2;
  --orange-800: 204, 106, 0;
  --orange-900: 179, 92, 0;

  /* yellow */
  --yellow-50: 255, 253, 245;
  --yellow-100: 255, 247, 205;
  --yellow-200: 255, 240, 165;
  --yellow-300: 255, 233, 125;
  --yellow-400: 255, 227, 85;
  --yellow-500: 255, 220, 45;
  --yellow-600: 255, 213, 5;
  --yellow-700: 229, 192, 2;
  --yellow-800: 204, 171, 0;
  --yellow-900: 153, 127, 0;

  /* cyan */
  --cyan-50: 248, 252, 246;
  --cyan-100: 222, 239, 211;
  --cyan-200: 195, 226, 176;
  --cyan-300: 168, 213, 141;
  --cyan-400: 141, 200, 105;
  --cyan-500: 115, 186, 70;
  --cyan-600: 88, 173, 35;
  --cyan-700: 70, 148, 21;
  --cyan-800: 68, 122, 34;
  --cyan-900: 53, 102, 22;

  /* purple */
  --purple-50: 250, 245, 253;
  --purple-100: 231, 205, 247;
  --purple-200: 211, 166, 240;
  --purple-300: 192, 126, 233;
  --purple-400: 173, 86, 226;
  --purple-500: 153, 46, 219;
  --purple-600: 138, 8, 237;
  --purple-700: 112, 6, 192;
  --purple-800: 91, 4, 156;
  --purple-900: 74, 4, 126;
  /* primary */
  --primary-50: 245, 248, 253;
  --primary-100: 205, 221, 247;
  --primary-200: 166, 194, 240;
  --primary-300: 126, 167, 233;
  --primary-400: 86, 140, 226;
  --primary-500: 46, 113, 219;
  --primary-600: 7, 86, 213;
  --primary-700: 5, 69, 173;
  --primary-800: 4, 56, 140;
  --primary-900: 4, 45, 113;
  /* daybreak-blue */
  --daybreak-blue-50: 245, 251, 253;
  --daybreak-blue-100: 205, 235, 247;
  --daybreak-blue-200: 166, 220, 241;
  --daybreak-blue-300: 126, 204, 235;
  --daybreak-blue-400: 86, 188, 229;
  --daybreak-blue-500: 46, 173, 223;
  --daybreak-blue-600: 7, 157, 217;
  --daybreak-blue-700: 5, 127, 175;
  --daybreak-blue-800: 4, 103, 141;
  --daybreak-blue-900: 4, 84, 114;
  /* lake-blue */
  --lake-blue-50: 246, 253, 252;
  --lake-blue-100: 209, 245, 241;
  --lake-blue-200: 173, 238, 229;
  --lake-blue-300: 136, 230, 217;
  --lake-blue-400: 100, 222, 206;
  --lake-blue-500: 63, 214, 194;
  --lake-blue-600: 27, 207, 183;
  --lake-blue-700: 22, 167, 149;
  --lake-blue-800: 16, 121, 109;
  --lake-blue-900: 13, 98, 88;
  /* gray */
  --sentio-gray-50: 250, 250, 250;
  --sentio-gray-100: 245, 245, 245;
  --sentio-gray-200: 238, 238, 238;
  --sentio-gray-300: 224, 224, 224;
  --sentio-gray-400: 189, 189, 189;
  --sentio-gray-500: 158, 158, 158;
  --sentio-gray-600: 117, 117, 117;
  --sentio-gray-700: 97, 97, 97;
  --sentio-gray-800: 66, 66, 66;
  --sentio-gray-900: 33, 33, 33;
  /* deep-purple */
  --deep-purple-50: 247, 246, 255;
  --deep-purple-100: 215, 209, 254;
  --deep-purple-200: 182, 173, 253;
  --deep-purple-300: 150, 137, 252;
  --deep-purple-400: 118, 100, 252;
  --deep-purple-500: 86, 64, 251;
  --deep-purple-600: 53, 27, 250;
  --deep-purple-700: 43, 22, 203;
  --deep-purple-800: 35, 18, 165;
  --deep-purple-900: 28, 14, 134;
  /* magenta */
  --magenta-50: 253, 245, 250;
  --magenta-100: 247, 205, 231;
  --magenta-200: 240, 166, 213;
  --magenta-300: 233, 126, 194;
  --magenta-400: 226, 86, 175;
  --magenta-500: 220, 47, 156;
  --magenta-600: 213, 7, 137;
  --magenta-700: 173, 5, 111;
  --magenta-800: 140, 4, 90;
  --magenta-900: 113, 4, 73;

  /* sidebar */
  --sidebar-background: 234, 241, 251;
}

body select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='rgba(152, 156, 160)' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
}

/* New theme overrides */
body.new-theme {
  background-color: initial;
  --sidebar-background: 246, 246, 246;
  --navbar-foreground: var(--gray-600);
  --navbar-hover-background: var(--sentio-gray-200);
  --navbar-selected-background: 233, 233, 233;
  --navbar-hover-foreground: var(--gray-800);
}

body.dark.new-theme {
  background: rgba(var(--sentio-gray-50));
  --sidebar-background: 40, 41, 44;
  --navbar-selected-background: 64, 64, 72;
}
