name: Docker

on:
  push:
    branches:
      - main
    tags:
      - v*

concurrency:
  group: '${{ github.workflow }} @ ${{ github.ref }}'
  cancel-in-progress: true

jobs:
  push-launcher:
    runs-on: [self-hosted]
    timeout-minutes: 90
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v5
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.11'
      - name: Set version tag
        id: vars
        run: |
          if [[ "${{ startsWith(github.ref, 'refs/tags/v') }}" == "true" ]]; then
            echo "tag=${GITHUB_REF#refs/*/}" >> $GITHUB_OUTPUT
          else
            echo "tag=dev" >> $GITHUB_OUTPUT
          fi
      - uses: bazelbuild/setup-bazelisk@v3
      - name: Clean stale cache
        run: ./scripts/clean-bazel-bin-stale-files.sh
      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Push launcher image
        run: bazel run --config=ci //service/launcher:launcher_push -- --tag ${{ steps.vars.outputs.tag }}
